header, main, footer {
    max-width: 1030px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
  }

:root {
    --primary-color: #5DA9E9;
    --secondary-color: #003F91;
    --accent-color1: #E5F4E3;
    --accent-color2: #6D326D;
    --heading-font: "Lato display swap";
    --paragraph-font: Lato, Helvetica, sans-serif
}

body {
    font-size: 16px;
    background-color: var(--secondary-color);
    padding: 2rem;
    font-family: "Palatino Linotype", Georgia, serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1, h2, h3, h4 {
    font-family: "Georgia", serif;
}

h2 {
    text-decoration: underline;
}

section>p {
    padding: .5rem;
    background-color: var(--accent-color1);
}

nav {
    line-height: 2rem;
    text-align: center;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: .5rem;
    padding: 0 .25rem 0 .25rem;
}

nav a:link,
nav a:visited {
    color: var(--accent-color2);
    text-decoration: none;
    font-size: 1.3rem
}

footer {
    background-color: var(--primary-color);
}