header, main, footer {
    max-width: 1030px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
  }

:root {
    --primary-color: #5DA9E9;
    --secondary-color: #003F91;
    --accent-color1: #E5F4E3;
    --accent-color2: #6D326D;
    --heading-font: "Lato display swap";
    --paragraph-font: Lato, Helvetica, sans-serif
}


body {
    font-size: 16px;
    background-color: var(--secondary-color);
    padding: 2rem;
    font-family: "Palatino Linotype", Georgia, serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1, h2, h3, h4 {
    font-family: "Georgia", serif;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

section>p {
    padding: .5rem;
    background-color: var(--accent-color1);
}

nav {
    line-height: 2rem;
    text-align: center;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: .5rem;
    padding: 0 .25rem 0 .25rem;
}

nav a:link,
nav a:visited {
    color: var(--accent-color2);
    text-decoration: none;
    font-size: 1.3rem
}

nav a:hover {
    background-color: var(--accent-color1);
}

footer {
    background-color: var(--primary-color);
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media screen and (max-width: 550px) {
    .wrapper {
      display: block;
    }
  } 

.family_history {
    grid-column: 1 / 3;
}

.temple_image,
.reception_image {
    margin: 16px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 15px 40px #999;
}

.temple_image img, 
.reception_image img {
    display: block;
}

.reception_image {
    grid-column: 1;
    grid-row: 2;
}

.reception_p {
    grid-column: 2;
    grid-row: 2;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.copyright {
    grid-column: 1 / 6;
    justify-self: center;
}

.social {
    grid-column: 4 / 5;
}

.info {
    grid-column: 2 / 4;
}

.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.action {
    text-align: center;
    padding: 3rem;
    margin: 1rem;
    background-color: rgba(109, 50, 109, .4);
    grid-column: 1;
    grid-row: 1;
    z-index: +1;
}

.hero {
    grid-column: 1 / 3;
    grid-row: 1;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--accent-color1);
    font-size: 1.2em;
}

.action button:hover {
    background-color: var(--primary-color);
    color: white;
}